<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefectVision</title>
    <link rel="icon" href="static/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="logo" style="display: flex; align-items: center;">
            <img src="static/images/logo.jpg" alt="DefectVision Logo" style="width: 50px; height: auto; margin-right: 10px;">
            <h2>DefectVision</h2>
        </div>
        
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="hamburger">&#9776;</label>
    
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="/documentation">Documentation</a>
            <div class="dropdown">
                <button class="dropdown-btn">Inference</button>
                <div class="dropdown-content">
                    <a href="/image">Image</a>
                    <a href="/video">Video</a>
                    <a href="/live">Live</a>
                </div>
            </div>
            <a href="/about">About</a>
        </nav>
    
        <div>
            <img src="{{ url_for('static', filename='images/innovent.png') }}" alt="Feedback Section Image" style="width: 100%; border-radius: 10px; margin-right: 10px;">
        </div>
    </header>
    <div class="image-container">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Aashi.png" alt="Aashi Sharma">
                    <p>Aashi Sharma, Team Leader</p>
                </div>
                <div class="card-back">
                </p>Expert in Project Management and AI Systems.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Prakhar.png" alt="Prakhar Bhadauria">
                    <p>Prakhar Bhadauria, Generalist</p>
                </div>
                <div class="card-back">
                </p>Skilled in diverse technical and managerial roles.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Kaustubh.jpg" alt="Kaustubh Ghale">
                    <p>Kaustubh Ghale, Web Master</p>
                </div>
                <div class="card-back">
                </p>Proficient in web technologies and front-end development.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container-bottom">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Siddharth.png" alt="Siddharth Panditrao">
                    <p>Siddarth Panditrao, Model Expert</p>
                </div>
                <div class="card-back">
                </p>Specialized in AI model design and optimization.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Amey.png" alt="Amey Darokar">
                    <p>Amey Darokar, Azure Specialist</p>
                </div>
                <div class="card-back">
                </p>Expert in Azure cloud solutions and integrations.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="static/card.js"></script>
</body>

</html>