<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefectVision AI (Dark Mode)</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="grid-container">
        <div><a href="/">Home</a></div>
        <div><a href="/index">Inference</a></div>
        <div><a href="/about">About</a></div>
    </div>
    <p>This page provides information about authors</p>
    <div class="image-container">
        <div>
            <img src="static/images/notfound.png" alt="" height="400px" width="300px">
            <p>Aashi Sharma, Team Leader</p>
        </div>
        <div><img src="static/images/prakhar.jpg" alt="" height="400px" width="300px">
            <p>Prakhar Bhadauria, Generalist</p>
        </div>
        <div><img src="static/images/kaustubh.jpg" alt="" height="400px" width="300px">
            <p>Kaustubh Ghale, Web Master</p>
        </div>
    </div>
    <div class="image-container-bottom">
        <div><img src="static/images/siddarth.jpg" alt="" height="400px" width="300px">
            <p>Siddarth Panditrao, Model Expert</p>
        </div>
        <div><img src="static/images/rat.jpg" alt="" height="400px" width="300px">
            <p>Amey Darokar, Azure Specialist</p>
        </div>
    </div>
</body>
</html>