<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefectVision AI (Dark Mode)</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="grid-container">
        <div><a href="/">Home</a></div>
        <div class="dropdown">
            <button class="dropbtn">Inference</button>
            <div class="dropdown-content">
                <a href="/index">Image</a>
                <a href="/video">Video</a>
                <a href="/live">Live</a>
            </div>
        </div> 
        <div><a href="/about">About</a></div>
    </div>
    <div class="image-container">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Aashi.png" alt="Aashi Sharma">
                    <p>Aashi Sharma, Team Leader</p>
                </div>
                <div class="card-back">
                </p>Expert in Project Management and AI Systems.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Prakhar.png" alt="Prakhar Bhadauria">
                    <p>Prakhar Bhadauria, Generalist</p>
                </div>
                <div class="card-back">
                </p>Skilled in diverse technical and managerial roles.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Kaustubh.jpg" alt="Kaustubh Ghale">
                    <p>Kaustubh Ghale, Web Master</p>
                </div>
                <div class="card-back">
                </p>Proficient in web technologies and front-end development.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="image-container-bottom">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Siddharth.png" alt="Siddharth Panditrao">
                    <p>Siddarth Panditrao, Model Expert</p>
                </div>
                <div class="card-back">
                </p>Specialized in AI model design and optimization.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="static/images/Amey.png" alt="Amey Darokar">
                    <p>Amey Darokar, Azure Specialist</p>
                </div>
                <div class="card-back">
                </p>Expert in Azure cloud solutions and integrations.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="static/card.js"></script>
</body>

</html>