<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefectVision AI (Dark Mode)</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>
    <div class="grid-container">
        <div><a href="/">Home</a></div>
        <div><a href="/index">Inference</a></div>
        <div><a href="/about">About</a></div>
    </div>
    <p>This page is the main homepage</p>
</body>
</html>