<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefectVision AI (Dark Mode)</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <div><a href="/">Home</a></div>
        <div class="dropdown">
            <button class="dropbtn">Inference</button>
            <div class="dropdown-content">
                <a href="/index">Image</a>
                <a href="/video">Video</a>
                <a href="/live">Live</a>
            </div>
        </div> 
        <div><a href="/about">About</a></div>
    </div>
    
    <div class="container">
        <form id="upload-form">
            <select id="model-select">
                <option value="model1">Model 1: Yolov8 Medium</option>
                <option value="model2">Model 2: Yolov8 Mini</option>
                <option value="model3">Model 3: Yolov8 Large</option>
                <option value="model4">Model 4: Yolov8 Large XL</option>
            </select>
            <button type="button" id="submit-video-button">Get Live Feed</button>
        </form>
        <img id="video-feed" src="{{ url_for('video_feed') }}" alt="Video Feed">
        <button type="button" id="Stop-live">Stop</button>
    </div>
    <script>
        document.getElementById('submit-video-button').addEventListener('click', function() {
        var model = document.getElementById('model-select').value;
        var videoFeed = document.getElementById('video-feed');
        videoFeed.src = '/video_feed?model=' + model; // Set the source of the image to the video feed URL
        videoFeed.style.display = 'block'; // Show the image element
        });
        document.getElementById('Stop-live').addEventListener('click', function() {
        var videoFeed = document.getElementById('video-feed');
        videoFeed.src = ''; // Stop the feed by clearing the source URL
        videoFeed.style.display = 'none'; // Optionally hide the image
        });
    </script>
</body>
</html>
