<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefectVision</title>
    <link rel="icon" href="static/images/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="logo" style="display: flex; align-items: center;">
            <img src="static/images/logo.jpg" alt="DefectVision Logo" style="width: 50px; height: auto; margin-right: 10px;">
            <h2>DefectVision</h2>
        </div>
        
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="hamburger">&#9776;</label>
    
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="/documentation">Documentation</a>
            <div class="dropdown">
                <button class="dropdown-btn">Inference</button>
                <div class="dropdown-content">
                    <a href="/image">Image</a>
                    <a href="/video">Video</a>
                    <a href="/live">Live</a>
                </div>
            </div>
            <a href="/about">About</a>
        </nav>
    
        <div>
            <img src="{{ url_for('static', filename='images/innovent.png') }}" alt="Feedback Section Image" style="width: 100%; border-radius: 10px; margin-right: 10px;">
        </div>
    </header>
    
    <div class="container">
        <form id="upload-form">
            <select id="model-select" style="display: none;">
                <option value="model4"></option>
            </select>
            <button type="button" id="submit-video-button">Get Live Feed</button>
        </form>
        <img id="video-feed" src="{{ url_for('video_feed') }}" alt="Video Feed">
        <button type="button" id="Stop-live">Stop</button>
    </div>
    <div id="results" style="display:none;">
        <h3>Download Report</h3>
        <a href="/doc/defect_log.csv" target="_blank" id="download-link">Download the defect log</a>
    </div>
    <script>
        document.getElementById('submit-video-button').addEventListener('click', function() {
        var model = document.getElementById('model-select').value;
        var videoFeed = document.getElementById('video-feed');
        videoFeed.src = '/video_feed?model=' + model; // Set the source of the image to the video feed URL
        videoFeed.style.display = 'block'; // Show the image element
        });
        document.getElementById('Stop-live').addEventListener('click', function() {
        var videoFeed = document.getElementById('video-feed');
        videoFeed.src = ''; // Stop the feed by clearing the source URL
        videoFeed.style.display = 'none'; // Optionally hide the image
        var resultsDiv = document.getElementById('results');
        resultsDiv.style.display = 'block'; // Show the results div
        });
    </script>
</body>
</html>
