<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefectVision AI (Dark Mode)</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="grid-container">
        <div><a href="/">Home</a></div>
        <div class="dropdown">
            <button class="dropbtn">Inference</button>
            <div class="dropdown-content">
                <a href="/index">Image</a>
                <a href="/video">Video</a>
                <a href="/live">Live</a>
            </div>
        </div>
        <div><a href="/about">About</a></div>
    </div>

    <div class="container">
        <form id="upload-form" enctype="multipart/form-data">
            <label for="file-upload">Upload Car Video:</label>
            <input type="file" id="file-upload" name="video" accept="video/*" required>
            <label for="model-select">Choose a Detection Model:</label>
            <select id="model-select" name="model" required>
                <option value="model1">Model 1: Yolov8 Medium</option>
                <option value="model2">Model 2: Yolov8 Mini</option>
                <option value="model3">Model 3: Yolov8 Large</option>
                <option value="model4">Model 4: Yolov8 Large XL</option>
            </select>
            <button type="button" id="video-button">Submit for Analysis</button>
        </form>
        
        <div id="results" style="display:none;">
            <h2>Analysis Results</h2>
            <p id="ai-response"></p>
            <h3>Processed Video</h3>
            <video id="generated-video" controls alt="Processed Video" style="max-width: 100%; height: auto;">
                <source id="video-source" src="" type="video/mp4">
                <source id="avi-video-source" src="" type="video/avi">
            </video>
        </div>
    </div>

    <script src="static/video.js"></script>
</body>

</html>
