<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DefectVision</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h2>DefectVision</h2>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="/documentation">Documentation</a>
            <div class="dropdown">
                <button class="dropdown-btn">Inference</button>
                <div class="dropdown-content">
                    <a href="/image">Image</a>
                    <a href="/video">Video</a>
                    <a href="/live">Live</a>
                </div>
            </div>
        </nav>
        <div>
            <a href="/about" style="margin-right: 10px;">About</a>
        </div>
    </header>
    <div class="container">
        <form id="upload-form" enctype="multipart/form-data">
            <label for="file-upload">Upload Car Video:</label>
            <input type="file" id="file-upload" name="video" accept="video/*" required>
            <select id="model-select" name="model" required style="display: none;">
                <option value="model4"></option>
            </select>
            <button type="button" id="video-button">Submit for Analysis</button>
        </form>

        <div id="loading-indicator">
            <p>Processing your video, please wait...</p>
            <div class="spinner"></div>
        </div>
        
        <div id="results" style="display:none;">
            <h2>Analysis Results</h2>
            <p id="ai-response"></p>
            <div id="download-link" style="display:none;">
                <p><a id="download-button" href="" target="_blank" download="processed_video.mp4">Click here to download the processed video</a></p>
            </div>
        </div>
    </div>

    <script src="static/video.js"></script>
</body>

</html>
